.container::before {
    background: url("../images/hippies.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
    /* display: block; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.5;
}   

#heading {
    padding: 1%;
    text-align: center;
}
#sweet-text {
    text-align: left;
}

.col-md-2 {
    width: 50%;
}